<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script>
  queryAll();


//=========================================
  function doSave() {
    fetch('/fetch/save', {
      body: JSON.stringify({
        user: document.querySelector("#user").value,
        content: document.querySelector("#content").value
      }), 
      headers: {
        'content-type': 'application/json'
      },
      method: 'POST' 
    })
    .then((response) => {
      if(response.status === 200){
        alert("儲存成功");
        response.json().then((data) => {
          document.querySelector("#list").innerHTML = `<tr><td>${data.id}</td><td>${data.ip}</td><td>${data.user}</td><td>${data.content}</td>
                                                  <td id='msg${data.id}'><button onclick='showReplyModal(${data.id})'>REPLY</button></td></tr>\n` 
                                                  + document.querySelector("#list").innerHTML;
        });
        
      }else{
        alert("儲存失敗");
      }
    });
    
    
  };


  
//=========================================
    function queryAll() {

      fetch('/fetch/getall')
        .then(function(response) {
          return response.json();
        })
        .then(function(myJson) {
          console.log(myJson);
          document.querySelector("#list").innerHTML 
            = myJson.map(j => `<tr><td>${j.id}</td><td>${j.ip}</td><td>${j.user}</td><td>${j.content}</td>
                                <td id='msg${j.id}'>
                                  <button onclick='showReplyModal(${j.id})'>REPLY</button>
                                </td></tr>`).join("\n");
        });
    }

//=========================================
    //顯示個別留言回覆資訊
    function showReplyModal(msgId){
      console.log(msgId);

      fetch('/reply/find-by-message', {
        body: JSON.stringify({
          id: msgId
        }), 
        headers: {
          'content-type': 'application/json'
        },
        method: 'POST' 
      }).then((response) => {
        
        response.json().then((msgs) => {
          console.log("msgs", msgs);
          var msgTableId = "table" + msgId;
          if(document.getElementById(msgTableId) === null){
            //回覆table
            var msgsTable = document.createElement("table");
            msgsTable.setAttribute("id", msgTableId);
            msgsTable.innerHTML += "<tbody>" + msgs.map(msg => `<tr><td><span style="font-weight:bold;">${msg.replyUser}</span></td><td>${msg.replyContent}</td><td>${msg.creatTime}</td></tr>`)
                        + "</tbody>";
            console.log(msgsTable);
            document.getElementById("msg" + msgId).appendChild(msgsTable);
            //回覆form
            var replyMsgForm = document.createElement("form");
            replyMsgForm.innerHTML = `<input id="replyUser${msgId}" type="text" name="replyUser" placeholder="姓名"/>`;
            replyMsgForm.innerHTML += `<input id="replyContent${msgId}" type="textarea" name="replyContent"  placeholder="回覆內容"/>`;
            replyMsgForm.innerHTML += `<button type="button" id="sendReply" onclick="saveReply(${msgId})">Send</button>`;
            document.getElementById("msg" + msgId).appendChild(replyMsgForm);
            

          }

          
        });
      });




    }

//=========================================
  //回覆  
  function saveReply(msgId){
      fetch('/reply/save', {
      body: JSON.stringify({
        codingDojo: {id: msgId},
        replyUser: document.querySelector("#replyUser"+msgId).value,
        replyContent: document.querySelector("#replyContent"+msgId).value
      }), // must match 'Content-Type' header
      headers: {
        'content-type': 'application/json'
      },
      method: 'POST' // *GET, POST, PUT, DELETE, etc.
    })
    .then((response) => {
      if(response.status === 200){
        alert("回覆成功");
        response.json().then((data) => {
          console.log("reply res = ", data)
          //回傳資料塞回留言小table
          var newReplyRow = document.createElement("tr");
          newReplyRow.innerHTML = `<td><span style="font-weight:bold;">${data.replyUser}</span></td><td>${data.replyContent}</td><td>${data.creatTime}</td>`;
          document.getElementById("table"+msgId).appendChild(newReplyRow);
        });
        
      }else{
        alert("回覆失敗");
      }
    });
    }
//=========================================



</script>

<body>

<h1>DOJO 留言板 (v.1-jasmine0810)</h1>
<div>
    <!-- <input type="text" value="${#list}"> -->
    <div>
      <form id="mainForm">
              <div>姓名<input id="user" type="text" name="user" /></div>
              <div>留言<input id="content" type="textarea" name="content" /></div>
          <button type="button" id="go" onclick="doSave()">送出</button>
      </form>
    </div>



    <table width="100%"  id="dataTables-example" border="1px solid black">
        <thead>
	        <tr>
	            <th>id</th>
	            <th>IP</th>
	            <th width="100px">USER NAME</th>
              <th width="200px">CONTENT</th>
              <th>REPLY</th>
	        </tr>
        </thead>
        <tbody id="list">
        </tbody>
    </table>

    
</div>
</body>
</html>
