<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script>


</script>

<body>

<h1>HELLO DOJO</h1>
<div>
    <form>
            <div>IP:<input type="text" name="ip"/></div>
            <div>流水號:<input type="text" name="seq" /></div>
            <div>使用者名稱:<input type="text" name="user" /></div>
            <div>留言內容:<input type="textarea" name="content" /></div>
            <submit onclick="">送出</submit>
    </form>

    
</div>
</body>
</html>
