<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script>

    function formSubmit()
    {
        document.getElementById("form").submit()
    }


</script>

<body>

<h1>HELLO DOJO</h1>
<div>
    <form action="/getall" method="get">
        <button type="submit">refresh</button>
    </form>
    <input type="text" value="${#list}">
    <form id="form" action = "/save" method="post">
            <div>使用者名稱:<input type="text" name="user" /></div>
            <div>留言內容:<input type="textarea" name="content" /></div>
                <input type='submit' value="Go">
    </form>
    <table width="100%"  id="dataTables-example">
        <thead>
        <tr>
            <th>使用者名稱</th>
            <th>留言內容</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="codingDojo:${list}" class="odd gradeX">
            <td th:text="${codingDojo.id}"></td>

        </tbody>
    </table>


    
</div>
</body>
</html>
